https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

#### pd.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False)

In [9]:
df = pd.read_excel('https://github.com/datagy/pivot_table_pandas/raw/master/sample_pivot.xlsx', parse_dates=['Date'])
print(df.head(20))

         Date Region                 Type  Units  Sales
0  2020-07-11   East  Children's Clothing   18.0    306
1  2020-09-23  North  Children's Clothing   14.0    448
2  2020-04-02  South     Women's Clothing   17.0    425
3  2020-02-28   East  Children's Clothing   26.0    832
4  2020-03-19   West     Women's Clothing    3.0     33
5  2020-02-05  North     Women's Clothing   33.0    627
6  2020-01-24  South     Women's Clothing   12.0    396
7  2020-03-25   East     Women's Clothing   29.0    609
8  2020-01-03  North  Children's Clothing   18.0    486
9  2020-11-03   East  Children's Clothing   34.0    374
10 2020-04-16  South     Women's Clothing   16.0    352
11 2020-08-09  North       Men's Clothing    NaN    270
12 2020-05-01   East       Men's Clothing   10.0    140
13 2020-08-11   East  Children's Clothing   12.0    348
14 2020-01-07   East       Men's Clothing   30.0    360
15 2020-11-26   West       Men's Clothing   27.0    864
16 2020-06-12   East     Women's Clothing   35.0   1050
17 2020-08-20  North  Children's Clothing   18.0    378
18 2020-06-16  North     Women's Clothing   34.0    884
19 2020-03-08  North       Men's Clothing    NaN    644

In [15]:
df_sales_east = df[df['Region'] == 'East'].mean(numeric_only=True)
# numeric_only : bool, default None Include only float, int, boolean columns. If None, will attempt to use everything,
# then use only numeric data. Not implemented for Series.
df_sales_east.head()

Units     19.732360
Sales    408.182482
dtype: float64

## Creating a Pivot Table in Pandas

This gave us a summary of the Sales field by Region

In [19]:
sales_by_region = pd.pivot_table(df, index = 'Region', values = 'Sales') # par defaut : aggfunc='mean'
print(sales_by_region)

             Sales
Region
East    408.182482
North   438.924051
South   432.956204
West    452.029412

Return the sum of all Sales across a region

In [20]:
total_by_region = pd.pivot_table(df, index='Region', values='Sales', aggfunc='sum')
print(total_by_region)

         Sales
Region
East    167763
North   138700
South    59315
West     61476

## Multi-Index Dataframes in Pandas